*{
    margin: 0;
    padding: 0;
    font-family: Trebuchet MS;
}

header{
    background-image: linear-gradient(rgba(10,10,20,0.7),rgba(10,10,20,0.6)),url(../2.jpeg);
    height: 100vh;
    width:100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;

}

html { overflow-y: scroll; }

content img {
  position: absolute;
  top: 50px;
}
ul.first{
    list-style-type: none;
    text-align: center;
    margin-top: 0%;
    margin-bottom: auto;
}
ul.second{
    list-style-type:none;
    text-align:center;
    margin-top: 10px;
    z-index:1;
}

ul li{
    display: inline-block;
    color: blue;
}

ul li a{
    text-decoration: none ;
    color: white;
    font-size: 50px;
}
ul li ::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336 ;
    display: block;
    margin: auto;
    transition: 0.6s ease;
}

ul li :hover::after{
    width: 100%;
}

.logo img{
    color: orange;
    float:left;
    width: 120px;
    height: auto;
    position: absolute;
    opacity: 65%;
    z-index:0;
}
h1 {
    color: orange;
    font-size: 40px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);

}
h2 {
    color:rgb(124, 23, 255);
    font-size: 40px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);

}

p1 {
    color: blue;
    font-size: 24px;
    position: absolute;
    top: 30%;
    left: 35%;
    transform: translate(-50%,-50%);
}
p2 {
    color: purple;
    font-size: 20px;
    position: absolute;
    top: 15%;
    left: 5%;
}
p3 {
  color: white;
  font-size: : 25px;
  position: absolute;
  top: 35%;
  left: 10%;
  margin-right: 800px;
}

.active {
  float:none;
  position:fixed;
  bottom: 0;
}


.static {
  float:none;
  position:absolute;
  bottom: 0;

}


.static:hover {
  float:none;
  position:absolute;
  bottom: 0;
  opacity:0;
}
